<%-include("partials/header.ejs") %>

<h1>About Me</h1>
<img class="profile" src="images/Mohammad_Rahman.JPG" alt="my_profile" />

<p class="about">Quality Engineer with nine plus years of experience in developing and implementing quality control systems, analyzing product and process performance data, and leading continuous improvement. I completed multiple projects as a contract to hire and full-time. I have experience working with the Development team in a local environment for white-box testing, and performance testing. My most recent projects I created a new repository for a new project, then Cypress automation framework from scratch with JavaScript and declared custom locator in application files.</p>

<%-include("partials/footer.ejs") %>
