<%- include("partials/header.ejs") %>

<h1>Contact Me</h1>
<div>
  <p class="note">Please let me know if you have any questions about my background. I will be happy to answer all your questions.</p>
  <p class="note">Phone:(214) 973-0438</p>
  <p class="note">Email: mzrahman74@gmail.com</p>
</div>
<%- include("partials/footer.ejs") %>
