<%-include("partials/header.ejs") %>

<h1>Mohammad Ziaur Rahman</h1>
<img src="images/hero.png" class="responsive" alt="laptop_img_hero" />
<P class="sdet"> SDET with a proven record of automation user acceptance tests by leverage coding skills. Proven ability to build, deploy, run, and manage individual applications. Accustomed and build test scenarios that reduce maintenance and software support cost. Git for version control, Jenkins for CI/CD and JIRA for defect tracking. Proficient at liasing with scrum masters during daily stand-up and sprint meetings to ensure technical deliverables are achieved.</P>

<%-include("partials/footer.ejs") %>
